@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.fit-content{
    width: fit-content;
}

/* .chat::-webkit-scrollbar-track
{
    background-color: white;
    width: 5px;
}

.chat::-webkit-scrollbar
{
    background-color: #0000ff;
}

.chat::-webkit-scrollbar-thumb{
    border-radius: 199em;
    background-color: #3F3F46;
} */